<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

     
        <h1 class ="logo"><img src="assets/img/logo.png"><a href="index.html"></a> PetsGoo</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
      
        <nav id="navbar" class="navbar order-last order-lg-0" id="navbarSupportedContent">
        <ul>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/home" routerLinkActive="active">Home</a></li>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/map"routerLinkActive="active">Petshops</a></li>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/veterinarios"routerLinkActive="active">Veterinarios</a></li>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/cuidados"routerLinkActive="active">Cuidados</a></li>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/suporte"routerLinkActive="active">Suporte</a></li>
          <li class="nav-item"><a class="nav-link scrollto" routerLink = "/login"routerLinkActive="active">Login</a></li>
        </ul>
        <i class= "bi bi-list mobile-nav-toggle "></i>
      </nav><!-- .navbar -->

    </div>
  </header>
